.text {
  font-weight: 500;
}
.navi {
  margin-left: 100px;
  margin-right: 70px;
  margin-bottom: 140px;
}
.navi-1 {
  margin-top: 20px;
}
.container {
  display: flex;
  flex-direction: row;
}
.bagan-1 {
  width: 400px;
  margin-left: 25px;
}
.gambar-1 {
  width: 500px;
  display: flex;
  margin-top: -100px;
  margin-left: 150px;
}
.h-lima {
  color: #b0b0b0;
}
.button1 {
  width: 130px;
}
.button2 {
  width: 130px;
}
