.text {
  font-weight: 500;
}
.navi {
  margin-left: 100px;
  margin-right: 70px;
  margin-bottom: 140px;
}
.navi-1 {
  margin-top: 20px;
}
.container {
  display: flex;
  flex-direction: row;
}
.bagan-1 {
  width: 500px;
  margin-left: 25px;
}
.bagan-2 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.bagan-3 {
  margin-top: 150px;
  margin-left: 0px;
  padding-left: 100px;
}
.bagan-4 {
  margin-top: 50px;
  margin-left: 100px;
}
.container-bagan-3 {
  display: flex;
  flex-direction: column;
}
.text-1 {
  font-size: 50px;
}
.gambar-1 {
  width: 500px;
  display: flex;
  margin-top: -180px;
  margin-left: 100px;
}
.gambar-2 {
  width: 500px;
  display: flex;
}
.h-empat {
  color: #979797;
}
.button1 {
  width: 130px;
}
.button2 {
  width: 130px;
}
.border1 {
  width: 500px;
}

table tr th {
  padding-top: 10px;
  padding-bottom: 100px;
}
#colorstrip {
  margin-left: 35px;
  margin-top: 10px;
  width: 30%;
  height: 10px;
  border-style: solid;
  border-color: rgb(0, 255, 200);
  background-color: rgb(0, 255, 200);
}
.text-table1 {
  color: #979797;
  margin-top: 20px;
  margin-left: -15px;
}
